<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="lencarta_checkout" translate="label" type="text" sortOrder="950" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Lencarta Checkout</label>
            <tab>sales</tab>
            <resource>Magento_Config::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="terms_checked_by_default" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Check Terms and Conditions by Default</label>
                    <comment>Controls the default checked state of the checkout terms checkbox.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
