#customer-login-container {
    @apply grid gap-x-4 gap-y-8 grid-cols-1 py-8;

    @variant md {
        @apply grid-cols-2;
    }
}

.order-links {
    display: flex;
    flex-wrap: wrap;
    gap: --spacing(4);

    a {
        text-decoration: underline;
    }
}
