<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Lencarta_Cms">
        <sequence>
            <module name="Magento_Widget"/>
            <module name="Lencarta_Core"/>
            <module name="Lencarta_Ui"/>
        </sequence>
    </module>
</config>
