<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/config.xsd">
    <default>
        <lencarta_core>
            <general>
                <enabled>1</enabled>
                <debug_logging>0</debug_logging>
                <brand_name>Lencarta</brand_name>
            </general>
        </lencarta_core>
    </default>
</config>
