<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="lencarta_header"
                 translate="label"
                 sortOrder="910"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Lencarta Header</label>
            <tab>lencarta</tab>
            <resource>Lencarta_Header::config</resource>

            <group id="desktop"
                   translate="label"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Desktop Header</label>
                <field id="show_phone" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Phone</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_compare" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Compare</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_wishlist" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Wishlist</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="top_link_1_label" translate="label" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Link 1 Label</label>
                </field>
                <field id="top_link_1_url" translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Link 1 URL</label>
                </field>

                <field id="top_link_2_label" translate="label" type="text" sortOrder="60"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Link 2 Label</label>
                </field>
                <field id="top_link_2_url" translate="label" type="text" sortOrder="70"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Link 2 URL</label>
                </field>

                <field id="top_link_3_label" translate="label" type="text" sortOrder="80"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Link 3 Label</label>
                </field>
                <field id="top_link_3_url" translate="label" type="text" sortOrder="90"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Link 3 URL</label>
                </field>
            </group>

            <group id="mobile_menu"
                   translate="label"
                   sortOrder="20"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Mobile Menu</label>

                <field id="max_level" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Menu Depth</label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                    <comment>Recommended: 3 or 4</comment>
                </field>
                <field id="show_search" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_socials" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Social Icons</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_settings_nav" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Language/Currency Settings</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="home_label" translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Home Link Label</label>
                </field>
                <field id="home_url" translate="label" type="text" sortOrder="60"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Home Link URL</label>
                </field>

                <field id="extra_link_1_label" translate="label" type="text" sortOrder="70"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Extra Link 1 Label</label>
                </field>
                <field id="extra_link_1_url" translate="label" type="text" sortOrder="80"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Extra Link 1 URL</label>
                </field>

                <field id="extra_link_2_label" translate="label" type="text" sortOrder="90"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Extra Link 2 Label</label>
                </field>
                <field id="extra_link_2_url" translate="label" type="text" sortOrder="100"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Extra Link 2 URL</label>
                </field>
            </group>

            <group id="mobile_cta"
                   translate="label"
                   sortOrder="30"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Mobile CTA</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Mobile CTA</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="label" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CTA Label</label>
                </field>
                <field id="url" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CTA URL</label>
                </field>
            </group>

            <group id="social"
                   translate="label"
                   sortOrder="40"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Social Links</label>
                <field id="facebook_url" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook URL</label>
                </field>
                <field id="instagram_url" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instagram URL</label>
                </field>
                <field id="pinterest_url" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pinterest URL</label>
                </field>
                <field id="twitter_url" translate="label" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter / X URL</label>
                </field>
            </group>

            <group id="messages"
                   translate="label"
                   sortOrder="50"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Messages</label>
                <field id="display_mode" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Mode</label>
                    <source_model>Lencarta\Header\Model\Config\Source\MessageDisplayMode</source_model>
                </field>
                <field id="show_icon" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Icon</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
